body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: 300;
    text-align: center;
}

header {
    background-color: #d7d7d7;
}

.color-section {
    padding: 100px 0px;
}

.about-me {
    /* background-color: #ffeaea; */
}
.articles {
    background-color: #eaf9ff;
}

.black-n-white {
    background-color: #252525;
    color: #FFF;
}

.container {
    width: 570px;
    margin: 0px auto;
    /* border: 1px dotted cyan; */
}

/* header {display: none;} */

h1, h2 {
    margin-top:0;
    font-weight: 300;
}

h1 {
    font-size: 60px;
}

h2 {
    border-top: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
    margin-bottom: 20px;
    padding: 20px 0px;
    font-size: 42px;
}

h3 {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 0;
}

p {
    margin-bottom: 0;
}

.small-text {
    margin-top: 0;
    font-size: 16px;
}

.accent-text {
    display: block;
    font-weight: 900;
}

.accent-text, 
.name,
time {
    color: #99D930;
}

/* .focus-text::before { content: '\A'; white-space: pre; } */

h1 .accent-text{
    font-size: 80px;
}

h2 .accent-text{
    margin-top:0;
    font-size: 60px;
}

a {
    color: #99d930;
    font-weight: bold;
}

a:hover, a:focus {
    color: #131313;
}

/* Buttons */
.btn {
    /* display */
    display: inline-block;

    /* positioning */

    /* box-model */
    background-color: #99D930;
    margin-top: 25px;
    padding: 10px 25px;

    /* typography */
    color: #252525;
    
    /* manipulation */
    text-decoration: none;
    text-transform: capitalize;
    
    /* misc */
}

.btn:hover,
.btn:focus {
    background-color: #252525;
    color: #fff;
    outline: 1px solid white;
}